* {
    margin: 0;
    padding: 0;
}

html {
  font-family: 'Muli', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 0.75em;
  font-size: 1.1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', Georgia, Palatino, serif;
}

h1 {
  margin: 20px 0 0 0;
  text-align: center;
  font-size: 3.2em;
}

ul {
  list-style: none;
}

ul li {
  margin: 80px auto;
  font-size: 2.0em;
}

ul li img {
  display: block;
  margin: 0 auto;
}

footer {
  text-align: center;
  margin-bottom: 40px;
}

.content {
  margin: 0 auto;
  text-align: center;
}

@media all and (min-width: 670px) {
  .content {
    width: 670px;
    font-size: 1.15em;
  }
}
